<div>
    <label>Nom:</label>
    <input type="text" [(ngModel)]="nom" (input)="updateCard()"/>
</div>
<div>
    <label>prenom:</label>
    <input type="text" [(ngModel)]="prenom" (input)="updateCard()"/>
</div>
<div>
    <label>entreprise:</label>
    <input type="text" [(ngModel)]="entreprise" (input)="updateCard()"/>
</div>
<div>
    <label>email:</label>
    <input type="text" [(ngModel)]="email" (input)="updateCard()"/>
</div>
<div>
    <label>telephone:</label>
    <input type="text" [(ngModel)]="telephone" (input)="updateCard()"/>
</div>

<h1>
    Nom:{{carte.nom}}
</h1>
<br>
<h1>
    prenom:{{carte.prenom}}
</h1>
<br>
<h1>
    entreprise:{{carte.entreprise}}
</h1>
<br>
<h1>
    email:{{carte.email}}
</h1>
<br>
<h1>
    telephone:{{carte.telephone}}
</h1>
